:root{
	--progressBarHeight: 10px;
}

.songText{
	transition: transform 0.5s, opacity 0.5s, font-size 1s;
	font-size: inherit;
}

.bigTitle{
	font-size: 48px !important;
}

.bigArtist{
	font-size: 32px !important;
}

.in{
	opacity: 0;
	transform: translateX(-1em);
}

.shown{
	opacity: 1;
	grid-column: 1;
	grid-row: 1;
}

.out{
	opacity: 0;
	grid-column: 1;
	grid-row: 1;
	transform: translateX(1em);
}

#songTextContainer{
	display: grid;
	font-size: 32px;
}

#artistTextContainer{
	display: grid;
}

#mainDiv{
	transition: background, 0.5s, width, 0.5s;
	background-size: cover;
	background-color: black;
	background-position: center;
	overflow: hidden;
	white-space: nowrap;
	color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 600px;
	height: 600px;
}

.topAlign{
	top: 0;
}

.bottomAlign{
	bottom: 0;
}

#infoDiv{
	position: absolute;
	left: 0;
}

#topContainer{
	position: relative;
	height: calc(100% - var(--progressBarHeight));
}

#progressBar{
	height: var(--progressBarHeight);
	background-color: rgba(255, 255, 255, 0.7);
}