:root{
	--progressBarHeight: 10px;
	--titleSize: 32px;
	--artistSize: calc(var(--titleSize) / 2);
	--progressSize: var(--artistSize);

	--titleSizeBig: 48px;
	--artistSizeBig: calc(var(--titleSizeBig) - var(--artistSize) / 2);

	--textMargin: 4px;

	--mainSkew: 10deg;
	--unskew: calc(var(--mainSkew) * -1);
}

@font-face {
	font-family: Aldrich;
	src: url("./fonts/aldrich.ttf");
}

.songText{
	transition: transform 0.5s, opacity 0.5s, font-size 1s;
	font-size: inherit;
}

.bigTitle{
	font-size: 48px !important;
}

.bigArtist{
	font-size: 32px !important;
}

.in{
	opacity: 0;
	transform: translateX(-1em);
}

.shown{
	opacity: 1;
	grid-column: 1;
	grid-row: 1;
}

.out{
	opacity: 0;
	grid-column: 1;
	grid-row: 1;
	transform: translateX(1em);
}

#songTextContainer{
	display: grid;
	font-size: var(--titleSize);

	transform: skewX(var(--unskew));
}

#artistTextContainer{
	display: grid;
	transform: skewX(var(--unskew));
}

#progressContainer{
	transform: skewX(var(--unskew));
}

#mainDiv{
	transition: background, 0.5s, width, 0.5s, height, 1s, left, 1s, opacity, 0.5s;
	background-size: cover;
	background-color: black;
	background-position: center;
	overflow: hidden;
	white-space: nowrap;
	color: white;
	text-shadow: 2px 2px 4px black;
	position: absolute;
	left: 20px;
	bottom: 20px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	height: calc(var(--progressBarHeight) + var(--artistSize) + var(--titleSize) + var(--progressSize) + var(--textMargin));
	font-family: Aldrich;
	line-height: 1;
	transform: skewX(var(--mainSkew));
	border-radius: 3px 15px 3px 15px;
}

.bigPos{
	left: 100px !important;
}

#topContainer{
	height: calc(100% - var(--progressBarHeight));
	position: relative;
	display: flex;
	flex-direction: column;
}

#infoDiv{
	margin: var(--textMargin);
}

#albumCover{
	flex-grow: 1;
}

#progressBar{
	height: var(--progressBarHeight);
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 1px 3px 1px 3px;
}

.bright{
	background-color: rgba(0, 0, 0, 0);
}

.dim{
	background-color: rgba(0, 0, 0, 0.3);
}

#dimmer{
	height: 100%;
	transition: background-color, 0.5s;
}

.hidden{
	opacity: 0.0;
}